rules_version = '2';

service firebase.storage{
    match /b/{bucket}/o {
        function isAuthenticated() {
            return request.auth != null;
        }

        function isOwner(userId) {
            return isAuthenticated() && request.auth.uid == userId;
        }

        function isImage() {
            return request.resource.contentType.matches("image/.*");
        }

        function isValidSize() {
            return request.resource.size < 5 * 1024 * 1024;
        }

        match /rooms/{roomId}/attachments/{userId}/{fileName} {
            allow read: if isAuthenticated();
            allow create: if isOwner(userId) && isImage() && isValidSize();
            allow update: if false;
            allow delete: if isOwner(userId);
        }
    }
}