rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        
        function signedIn() {
            return request.auth != null;
        }

        function room(roomId) {
            return get(/databases/$(database)/documents/rooms/$(roomId)).data;
        }

        function isMember(roomId) {
            return signedIn() 
            && room(roomId).memberIds is list 
            && request.auth.uid in room(roomId).memberIds;
        }

        function isRoomAdmin(roomId) {
            return isMember(roomId) 
            && room(roomId).adminIds is list 
            && request.auth.uid in room(roomId).adminIds;
        }

        function validMessageCreate() {
            let data = request.resource.data;
            return data.keys().hasAll(["text","senderId","createdAt","updatedAt"]) 
            && data.keys().hasOnly(["text","senderId","createdAt","updatedAt"]) 
            && data.text is string 
            && data.text == data.text.trim() 
            && data.text.size() > 0 
            && data.text.size() <= 200 
            && data.senderId == request.auth.uid 
            && data.createdAt == request.time 
            && data.updatedAt == null;
        }

        function validMessageUpdate() {
            let data = request.resource.data;
            return data.keys().hasAll(["text","senderId","createdAt","updatedAt"]) 
            && data.keys().hasOnly(["text","senderId","createdAt","updatedAt"]) 
            && data.diff(resource.data).affectedKeys().hasOnly(["text","updatedAt"])
            && data.text is string 
            && data.text == data.text.trim() 
            && data.text.size() > 0 
            && data.text.size() <= 200 
            && data.updatedAt == request.time 
        }

        match /rooms/{roomId} {
            allow read:if signedIn() 
            && resource.data.memberIds is list 
            && request.auth.uid in resource.data.memberIds;
            allow create, update, delete:if false;

            match /messages/{memberId} {
                allow read:if isMember(roomId);
                allow create:if isMember(roomId) 
                && validMessageCreate();
                allow update: if isMember(roomId) 
                && resource.data.senderId == request.auth.uid 
                && validMessageUpdate();
                allow delete: if isMember(roomId) 
                && (resource.data.senderId == request.auth.uid || isRoomAdmin(roomId));
            }
        }
    }
}